<!DOCTYPE html>
<html>
	<head>
		<title>Dummy</title>
		<link href="./bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet" />
	</head>
	<body>
		<!-- Contents Will be alwyas here -->


			<div class="row">
				<div class="col-lg-12">
					<h3>Printing specification</h3>
					<p>
						Books, like all printing projects, are made-to-order.
						This is because each book project is unique and created 
						for a particular purpose. Your printer refers to the unique 
						characteristics of your book project as Specifications or “Specs”.  Specialized publishers for both printed book and eBooks.
						Book Printing Checklist of Specifications
						Dimensions, Quantity Required, Page Count, Bindery Method, Paper 
						Type and Thickness, Colour and Placement of Ink, Finishing and 
						Delivery Info,
					</p>
					<ul>
						<li>
							<strong>Size Dimensions : </strong>
							<p>
								The dimensions refer to the width and height of the book 
								in its finished form. It is preferred that you give the 
								first width   and then the height dimension. We have all 
								type sizes available in the book example for  5.5*8.5, 6*9, 8*11 
								Though most books can be printed in just about any size you choose, 
								bear in mind that all commercial printers have certain page sizes 
								they offer as standard sizes. These standard sizes are determined by 
								the type of production equipment used by the printer.
							</p>
						</li>
						<li>
							<strong>Paper Type and Thickness : </strong>
							<p>
								The paper characteristics you select for the book’s cover 
								and pages – such as the texture, thickness, and sheen level – 
								largely depend on two factors. The first factor is the intended 
								appearance of the book. For example, a book made with a heavy, 
								lustrous cover provides a higher image of quality than its thinner, 
								duller counterpart. The paper can be more basic. The second factor 
								is how durable you want your book to be. If your book is a directory 
								that is printed infrequently, you should consider using heavy paper, 
								possibly with a protective finish such as a UV coating or laminate. 
								This will help the book survive in circulation until the next printing.
							</p>
						</li>
					</ul>
				</div>
			</div>


		<script src="./bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
		<script src="./jquery-3.4.1.slim.min.js"></script>
	</body>
</html>
